<div id={{id}} class="card mx-auto result-cards">
  <img class="card-img-top" src={{img}} alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">
    <div class="rating">
      {{ rating }}
      {{#ifEqual rating 1}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 1.5}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star fas fa-star-half-alt checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 2}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 2.5}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fas fa-star-half-alt checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 3}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 3.5}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fas fa-star-half-alt checked"></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 4}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 4.5}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fas fa-star-half-alt checked  "></span>
      {{/ifEqual}}

      {{#ifEqual rating 5}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      {{/ifEqual}}
    </div>
    </p>
    <p class="card-text">
    </p>
    <p class="card-text ">
      Location: {{ location.address1}}, {{location.city}}, {{location.state}}, {{location.zip_code}}
    </p>
    <p class="card-text">
      Price Range: {{price}}
    </p>
  </div>
  <div class="button ml-auto">
    <button onclick="saveActivity({{idToString id}}, {{idToString activityType}})"
      class="plus-button plus-button--small">
    </button>
  </div>
</div>