<div id={{id}} class="card mx-auto result-cards">
  <img class="card-img-top" src={{img}} alt="Card image cap" />
  <div class="card-body results-cardbody">

    <a href="{{event_site_url}}" class="href" target="_blank">
      <h5 class="card-title">{{name}}</h5>
    </a>

    <p class="card-text">
      {{description}}
    </p>

    <p class="card-text">
      <i class="far fa-calendar-alt date-icon-cards"></i>
      {{moment time_start "MM/DD/YYYY"}} {{moment time_start " hh:mm a"}} - {{moment time_end " hh:mm a"}}
    </p>

    <p class="card-text ">
      <i class="fas fa-map-marker-alt location-icon-cards"></i>
      {{#if location.address1}}{{ location.address1}},{{/if}} {{#if location.city}} {{location.city}},{{/if}}
      {{#if location.state}} {{location.state}} {{/if}} {{#if location.zip_code}} {{location.zip_code}} {{/if}}
    </p>

    <div class="row">
      <div class="col">
        <i class="fas fa-ticket-alt"></i>
        {{#ifItemInObject tickets_url}}
        <a href="{{tickets_url}}" target="_blank">
          </i></i> Get Tickets
        </a>
        {{else}}
        <a href="{{tickets_url}}" class="disabled" target="_blank">
          </i></i> Get Tickets
        </a>
        {{/ifItemInObject}}
      </div>

      <div class="col addbuttoncol">
        <div class="event-button ml-auto">
          <button onclick="addActivity({{idToString id}}, {{idToString activityType}})"
            class="plus-button plus-button--small">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>