{{!-- Event Cards --}}
<div class="card mx-auto result-cards">
  <img class="card-img-top" src={{img}} />
  <div class="card-body results-cardbody">
    <a href={{url}} class="href" target="_blank">
      <h5 class="card-title">{{name}}</h5>
    </a>
    <p class="card-text">
    <div class="rating">
      {{price}} •
      {{>stars}}
      {{reviews}} reviews
    </div>
    </p>
    <p class="card-text ">
      <i class="fas fa-map-marker-alt  location-icon-cards"></i>
      {{address}} {{city}} {{state}} {{zipcode}}
    </p>
    <p class="card-text">
      <i class="fas fa-phone icon-cards"> </i>
      {{phone}}
    </p>

    <div class="row">
      <div class="col">
        <i class="fas fa-check transaction-icon"></i> Takeout
      </div>
      <div class="col">
        <i class="fas fa-check transaction-icon"></i>
        Delivery
      </div>

      <div class="col addbuttoncol">
        <div class="button ml-auto">
          <button onclick="" class="minus">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>