{{!-- Date = {{date}} --}}
<div class="card mx-auto result-cards">
  <img class="card-img-top" src={{img}} />

  {{!-- Title --}}
  <div class="card-body results-cardbody">
    <a href={{url}} class="href" target="_blank">
      <h5 class="card-title">{{name}}</h5>
    </a>

    {{!-- Price • Stars • Reviews --}}
    <p class="card-text rating">
      {{#ifEqual activityType "restaurant"}}
      {{price}} •
      {{>stars}}
      {{reviews}} reviews
      {{else}}
      {{description}}
      {{/ifEqual}}
    </p>

    {{!-- Date --}}
    {{#ifEqual activityType "event"}}
    <p class="card-text">
      <i class="far fa-calendar-alt date-icon-cards"></i>
      {{moment timeStart "MM/DD/YYYY"}} 
      {{moment timeStart " hh:mm a"}} - {{moment timeEnd " hh:mm a"}}
    </p>
    {{/ifEqual}}

    {{!-- Location --}}
    <p class="card-text ">
      <i class="fas fa-map-marker-alt location-icon-cards"></i>
      {{#if address}}
      {{address}},
      {{/if}}
      {{#if city}}
      {{city}},
      {{/if}}
      {{#if state}}
      {{state}}
      {{/if}}
      {{#if zipcode}}
      {{zipcode}}
      {{/if}}
    </p>

    {{!-- Phone Number --}}
    {{#ifEqual activityType "restaurant" }}
    {{#if phone}}
      <p class="card-text">
        <i class="fas fa-phone icon-cards"> </i>
        {{phone}}
      </p>
    {{/if}}
    {{/ifEqual}}

    <div class="row">
      {{!-- Takeout or Delivery --}}
      {{#ifEqual activityType "restaurant" }}

      <div class="col">
        <i class="fas fa-check transaction-icon"></i> Takeout
      </div>
      <div class="col">
        <i class="fas fa-check transaction-icon"></i>
        Delivery
      </div>

      {{else}}

      <div class="col">
        <i class="fas fa-ticket-alt"></i>

        {{#ifDoesNotEqual ticketsUrl "null"}}
          <a href="{{ticketsUrl}}" target="_blank">
            </i></i> Get Tickets
          </a>
        {{else}}
          <a href="{{ticketsUrl}}" class="disabled" target="_blank">
            </i></i> Get Tickets
          </a>
        {{/ifDoesNotEqual}}
        {{/ifEqual}}

        {{!-- Minus Button --}}
        {{#ifEqual activityType "restaurant" }}
        <div>
          <div class="itinerary-restaurant-button ml-auto">
             <button class="minus" onclick="deleteIt({{id}})">
                <i class="fas fa-minus"></i>
              </button>
          </div>
            {{else}}
          <div class="itinerary-event-button ml-auto">
              <button class="minus" onclick="deleteIt({{id}})">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        {{/ifEqual}}
        
      </div>
     
      </div>
         
    </div>