<div id={{id}} class="card mx-auto result-cards">
  <img class="card-img-top" src={{img}} alt="Card image cap" />
  <div class="card-body results-cardbody">
    {{!-- Title --}}
    <a href="{{url}}" class="href" target="_blank">
      <h5 class="card-title">{{name}}</h5>
    </a>

    {{!-- Price • Stars • Reviews --}}
    <p class="card-text rating">
      {{#ifEqual activityType "restaurant" }}
      {{price}} •
      {{>stars}}
      {{reviews}} reviews
      {{else}}
      {{description}}
      {{/ifEqual}}
    </p>

    {{!-- Date --}}
    {{#ifEqual activityType "event"}}
    <p class="card-text">
      <i class="far fa-calendar-alt date-icon-cards"></i>
      {{moment time_start "MM/DD/YYYY"}} {{moment time_start " hh:mm a"}} - {{moment time_end " hh:mm a"}}
    </p>
    {{/ifEqual}}


    {{!-- Location --}}
    <p class="card-text ">
      <i class="fas fa-map-marker-alt  location-icon-cards"></i>
      {{#if location.address1}}
      {{location.address1}},
      {{/if}}
      {{#if location.city}}
      {{location.city}},
      {{/if}}
      {{#if location.state}}
      {{location.state}}
      {{/if}}
      {{#if location.zip_code}}
      {{location.zip_code}}
      {{/if}}
    </p>

    {{!-- Phone Number --}}
    {{#ifEqual activityType "restaurant" }}
    <p class="card-text">
      {{#if display_phone}}
      <i class="fas fa-phone icon-cards"> </i>
      {{display_phone}}
    </p>
    {{/if}}
    {{/ifEqual}}


    <div class="row">
      {{#ifEqual activityType "restaurant" }}
      <div class="col">

        {{!-- Takeout or Delivery --}}
        {{#ifStringInArray transactions "pickup"}}
        <i class="fas fa-check transaction-icon"></i>
        {{else}}
        <i class="fas fa-times transaction-icon"></i>
        {{/ifStringInArray}} Takeout
      </div>
      <div class="col">
        {{#ifStringInArray transactions "delivery"}}
        <i class="fas fa-check transaction-icon"></i>
        {{else}}
        <i class="fas fa-times transaction-icon"></i>
        {{/ifStringInArray}}
        Delivery
      </div>

      {{else}}

      {{!-- Tickets --}}
      <div class="col">
        <i class="fas fa-ticket-alt"></i>
        {{#ifItemInObject tickets_url}}
        <a href="{{tickets_url}}" target="_blank">
          </i></i> Get Tickets
        </a>
        {{else}}
        <a href="{{tickets_url}}" class="disabled" target="_blank">
          </i></i> Get Tickets
        </a>
        {{/ifItemInObject}}
      </div>
      {{/ifEqual}}


      {{!-- Add Button --}}
      <div class="col addbuttoncol">
        {{#ifEqual activityType "restaurant" }}
        <div class="button ml-auto">
          {{else}}
          <div class="event-button ml-auto">
            {{/ifEqual}}

            <button onclick="
            addActivity(
             {{idToString date}},
              {{idToString activityType}},
              {{idToString id}},
              {{idToString img}},
              {{idToString url}}, 
              {{idToString name}}, 
              {{idToString location.address1}}, 
              {{idToString location.city}},
              {{idToString location.state}},
              {{idToString location.zip_code}},
              {{idToString price}},
              {{idToString rating}},
              {{idToString review_count}},
              {{idToString display_phone}},
              {{idToString description}},
              {{idToString time_start}},
              {{idToString time_end}},
              {{idToString tickets_url}}
            )" type="menu" class="plus-button plus-button--small">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
